html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(2, 150, 2);
  font-family: 'Monaco';
}
canvas {
  display: block;
}

.sentence{
  font-family: 'Helvetica';
  font-size : 2em;
  color: white;
}

.input {
  background-color: black;
  color: rgb(201, 140, 255);
}

.user-feedback {
  font-size: '1em';
  color: rgb(201, 140, 255);
}

.guess-button {
  background-color: white;
  color: rgb(232, 93, 0, 0.6);
}

.clock{
  color: rgba(220,220,220,0.1);
}
